

<link rel="stylesheet" href="/css/home.css" />

<!-- Основний баннер -->
<section class="main-banner">
    <div class="container">
        <img src="/img/banner.png" alt="Banner">
        <h1>Ласкаво просимо до YarnToys!</h1>
        <p>Унікальні в'язані іграшки, створені з любов'ю.</p>
        <a href="/Catalog/Index" class="btn btn-primary">Переглянути каталог</a>
    </div>
</section>


<!-- Інформація про нас -->
<section class="about-us py-5 text-dark">
    <div class="container">
        <h2 class="text-center mb-4 fw-bold">Про нас</h2>
        <div class="row align-items-center">
            <div class="col-lg-6 text-center">
                <img src="/img/yarn.png" class=" mb-4" style="max-width: 80%; border-radius: 15px;" alt="YarnToys">
            </div>
            <div class="col-lg-6">
                <p class="fs-5">YarnToys — це місце, де оживають мрії. Ми створюємо оригінальні в'язані іграшки, які дарують радість дітям і дорослим.</p>
                <p class="fs-6">Наші іграшки виготовлені вручну з якісної пряжі та безпечних матеріалів. Кожен виріб унікальний, наповнений теплом і турботою майстра.</p>
                <p class="fs-6">Ми прагнемо дарувати позитивні емоції, тому створюємо не просто іграшки, а справжні витвори мистецтва, які стануть найкращим подарунком для близьких.</p>
            </div>
        </div>
    </div>
</section>

<!-- Чому обрати саме YarnToys -->
<section class="why-us mt-5 py-5">
    <div class="container">
        <h2 class="text-center mb-4">Чому обрати саме YarnToys?</h2>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="icon-wrapper">
                    <img src="/img/high-quality.png" alt="High Quality" class="icon-img">
                </div>
                <h3 class="mt-3">Якість</h3>
                <p>Кожна іграшка виготовляється вручну з якісної пряжі.</p>
            </div>
            <div class="col-md-4">
                <div class="icon-wrapper">
                    <img src="/img/idea.png" alt="Unique Design" class="icon-img">
                </div>
                <h3 class="mt-3">Унікальний дизайн</h3>
                <p>Ексклюзивні моделі, яких немає більше ніде.</p>
            </div>
            <div class="col-md-4">
                <div class="icon-wrapper">
                    <img src="/img/shield.png" alt="Safe Materials" class="icon-img">
                </div>
                <h3 class="mt-3">Безпечні матеріали</h3>
                <p>Іграшки повністю безпечні для дітей будь-якого віку.</p>
            </div>
        </div>
    </div>
</section>
